
.section_topstory{
    padding-top: 20px;
    padding-left: 40px;
    width: 100%;
    float: left;
}
.container flexbox{
      width: 100%;
      max-width: 1130px;
      padding: 0 15px;
      margin: 0 auto;
      position: absolute;
}
.col-left-top{
    width: 100%;
}
.image_firt{
    height: 350px;
    background-color:antiquewhite;
    max-width: 780px;

}
.image_firt picture{
    float: left;
     margin-right: 30px;
}
.image_firt li picture img{
    width: 500px;
    height: 350px;
}
.image_firt li a {
    line-height: 1px;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}
.image_firt li{
    margin-bottom: 10px;
    list-style: none;
}
.image_firt li .a {
   
    font-size: 20px;
}
.meta-news{
    margin-top: 10px;
}
.meta-news .time-public,
.meta-news .cat {
        display: inline-block;
        margin-right: 10px;
        font-size: 14px;
        color: rgb(116, 112, 112);
}


.contentbutom{
    display: flex;
    height: 250px;
    max-width: 780px;
    
  
}

.contentbutom ul li a {
  color: initial;
  line-height:1px;

}
.contentbutom ul li {
    list-style: none;

}
.contentbutom ul .li {
    list-style: none;
    font-size: 15px;
    margin-top: 10px;

}

#containercontentbutom {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

/* contens2 */
.section section_stream_home section_container{
padding-top: 20px;
padding-left: 40px;
width: 100%;
float: left;
background-color:black;
}
    
.container_content2{
width: 100%;
max-width: 1130px;
margin: 0 auto;
border-top: 1px solid #E5E5E5;
display: flex;
}

.container_content2 .div1_content2 {
    margin-top: 10px;
 flex: 40%;
}
.container_content2 .div2_content2 {
    margin-top: 10px;

    flex: 60%;
}
    