/* contenttop */
.section_topstory {
    padding-top: 20px;
}

section {
    display: block;
}

.col-left-top {
    width: 70%;
}
@media screen and (max-width: 979px) {.col-left-top {
    width: 100%;
}}


.wrapper-topstory-folder.wrapper-topstory-folder-v2.wrapper-topstory-home {
    min-height: inherit;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 {
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 530px;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .article-topstory {
    width: 100%;
    background: #f7f7f7;
    padding-right: 20px;
}
.wrapper-topstory-folder .article-topstory {
    width: 545px;
    padding-right: 15px;
}
.article-topstory {
    width: 550px;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}



.wrapper-topstory-folder.wrapper-topstory-folder-v2.wrapper-topstory-home .article-topstory .thumb-art {
    width: 520px;
}
@media screen and (max-width: 1129px) {
    .wrapper-topstory-folder.wrapper-topstory-folder-v2.wrapper-topstory-home .article-topstory .thumb-art {
        width: 440px;
    }
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .article-topstory .thumb-art {
    margin: 0 20px 0 0;
}
.article-topstory.full-thumb .thumb-art {
    margin: 0 0 15px 0;
}
.item-news.full-thumb .thumb-art {
    width: 100%;
    margin: 0 0 10px 0;
}

.thumb-art {
    position: relative;
}
.thumb-art {
    position: relative;
    margin-right: 10px;
    float: left;
    width: 140px;
}
.thumb-5x3 {
    padding-bottom: 60%;
}
.thumb {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;
    background: #f4f4f4;
}



.wrapper-topstory-folder.wrapper-topstory-folder-v2 .article-topstory .title-news {
    width: auto;
    float: none;
    margin-bottom: 10px;
    padding-top: 20px;
    font-weight: 700;
}
.wrapper-topstory-folder .article-topstory .title-news {
    font-size: 20px;
}

.wrapper-topstory-folder.wrapper-topstory-folder-v2 .article-topstory .title-news {
    width: auto;
    float: none;
    margin-bottom: 10px;
    padding-top: 20px;
    font-weight: 700;
}
.article-topstory .title-news {
    width: 100%;
    float: left;
    font-size: 24px;
    font-weight: 400;
}
.item-news .title-news {
    font-family: "Merriweather", serif;
    line-height: 160%;
    margin-bottom: 5px;
}

.wrapper-topstory-folder.wrapper-topstory-folder-v2 .article-topstory .description {
    clear: none;
}
.wrapper-topstory-folder .article-topstory p:not(.description),
.wrapper-topstory-folder .article-topstory p:not(.meta-news) {
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;
}
.wrapper-topstory-folder .article-topstory .description {
    font-size: 14px;
    line-height: 140%;
}
.article-topstory .description {
    clear: both;
    font-size: 14px;
    line-height: 140%;
}
.item-news .description {
    line-height: 140%;
    font-size: 14px;
}
.mt5 {
    margin-top: 5px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    color: inherit;
    text-decoration: none;
    outline: 1;
}
.wrapper-topstory-folder .extend-lead a {
    position: relative;
    display: table;
}
.wrapper-topstory-folder .extend-lead a:before {
    width: 100%;
    height: 20px;
    content: '';
    background: linear-gradient(45deg, rgba(247, 247, 247, 0) 0%, #f7f7f7 75.52%);
    background: -webkit-linear-gradient(45deg, rgba(247, 247, 247, 0) 0%, #f7f7f7 75.52%);
    position: absolute;
    right: 0;
    bottom: 0;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2.wrapper-topstory-home .article-topstory p.meta-news {
    margin-top: 10px;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .article-topstory p.meta-news {
    margin-top: 5px;
}
.wrapper-topstory-folder .article-topstory p:not(.description),
.wrapper-topstory-folder .article-topstory p:not(.meta-news) {
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;
}
.meta-news {
    color: #757575;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400 !important;
}
.meta-news .time-public {
    display: inline-block;
    margin-right: 10px;
}
.meta-news .cat {
    display: inline-block;
    margin-right: 10px;
}
element.style {
    white-space: nowrap;
    display: none;
}

.meta-news .count_cmt,
.meta-news .icon_commend {
    font-size: 12px;
    color: #076db6;
    display: inline-block;
    text-decoration: none !important;
}
/* // */

.wrapper-topstory-folder.wrapper-topstory-folder-v2.wrapper-topstory-home .sub-news-top {
    padding-top: 0;
    border-top: none;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .sub-news-top {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    padding-left: 0;
    height: auto;
}
.wrapper-topstory-folder .sub-news-top {
    width: 235px;
    padding-left: 15px;
    height: 530px;
}
.sub-news-top {
    width: 230px;
    padding-left: 20px;
    position: relative;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .sub-news-top .inner-sub-news-top {
    position: static;
}
.wrapper-topstory-folder .sub-news-top .inner-sub-news-top {
    left: 15px;
}
.sub-news-top .inner-sub-news-top {
    position: absolute;
    height: 100%;
    top: 0;
    left: 20px;
    overflow: hidden;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .scroll-sub-featured {
    width: 100%;
    float: left;
}
.sub-news-top .scroll-sub-featured {
    max-height: 100%;
}

.wrapper-topstory-folder.wrapper-topstory-folder-v2 .list-sub-feature {
    width: calc(100% + 20px);
    margin-left: -20px;
    font-size: 0;
    padding-right: 0;
}
.list-sub-feature {
    padding-right: 15px;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2.wrapper-topstory-home .list-sub-feature li {
    width: 32.5%;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .list-sub-feature li {
    float: none;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.list-sub-feature li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.list-sub-feature li {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .list-sub-feature li .title_news {
    font-size: 15px;
    font-weight: 700;
}
.wrapper-topstory-folder .list-sub-feature li .title_news {
    font-size: 16px;
    font-weight: 400;
    font-family: "Merriweather", serif;
}
.list-sub-feature li .title_news {
    font-size: 14px;
    line-height: 160%;
    font-family: "Merriweather", serif;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .list-sub-feature li .description {
    margin-top: 10px;
}
.wrapper-topstory-folder .list-sub-feature li .description {
    font-size: 14px;
    line-height: 140%;
    margin-top: 5px;
}
.meta-news .count_cmt,
.meta-news .icon_commend {
    font-size: 12px;
    color: #076db6;
    display: inline-block;
    text-decoration: none !important;
}

/* gocnhin */
.info-author .meta-news .cat {
    font-family: "Merriweather", serif;
    font-size: 14px;
    color: #757575;
    font-style: italic;
    line-height: 140%;
    margin-right: 0;
}
.meta-news .cat {
    display: inline-block;
    margin-right: 10px;
}
.item-gocnhin p.meta-news .count_cmt {
    margin-top: 8px;
}
.item-gocnhin .art-top-gn .title-news {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}
.meta-news .count_cmt,
.meta-news .icon_commend {
    font-size: 12px;
    color: #076db6;
    display: inline-block;
    text-decoration: none !important;
}
.meta-news .count_cmt .ic,
.meta-news .icon_commend .ic {
    fill: #bdbdbd;
    width: 12px;
    height: 12px;
    margin-right: 1px;
}
.item-gocnhin .thumb-author-gn.thumb-art {
    width: 75px;
    margin-left: 0;
}
.thumb-author-gn.thumb-art {
    width: 90px;
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 0;
    float: right;
}



.thumb-author-gn.thumb-art .thumb {
    border-radius: 50%;
}
.thumb-1x1 {
    padding-bottom: 100%;
}
/* endcontenttop */


/* conten2 */



.flexbox {
    display: flex;
}
.has_border {
    margin-top: 20px;
    padding-top: 20px;
}

 
.has_border:before {
    width: calc(100% -30px);
    background: #e5e5e5;
    height: 1px;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    content: '';
}
.section_stream_home .col-left {
    padding-right: 20px;
}
.section_stream_home .col-small {
    width: 40%;
}



.col-left {
    padding-right: 15px;
    position: relative;
}
.col-left:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #e5e5e5;
    position: absolute;
    top: 0;
    right: 0;
}
.item-news-common:first-of-type {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}
.item-news-common {
    border-top: 1px solid #e5e5e5;
  
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}   


article {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.item-news-common .title-news {
    /* font-size: 15px; */
    font-weight: 700;
    margin-bottom: 10px;
}

.item-news-common .thumb-art {
    width: 145px;
    margin-right: 10px;
}

.item-news .thumb-art {
    float: left;
    margin-right: 20px;
}





.thumb-5x3 {
    padding-bottom: 60%;
}

.thumb {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    width: 100%;
    background: #f4f4f4;
}
.thumb img {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.lazy {
    position: absolute;
    top: 0;
    left: 0;
}

img {
    border: 0;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
}
.item-news-common .description {
    font-size: 14px;
    line-height: 140%;
}

.item-news .description {
    line-height: 140%;
    font-size: 14px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}

/* right */
.section_stream_home .col-right {
    padding-left: 20px;
}

.section_stream_home .col-medium {
    width: 60%;
}


.col-right {
    padding-left: 15px;
}

.box-cate-featured.has-border {
    padding-bottom: 15px;
    border-bottom: 1px solid #bdbdbd;
}

.box-category.has-border {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.box-covid-2021 {
    position: relative;
}

.box-cate-featured {
    margin-bottom: 15px;
}
@media screen and (max-width: 979px) {.title-box-category .sub-cate {
    display: none;
}}
.box-category {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.box-covid-2021 .item-news.item-news-common {
    padding: 12px 15px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-bottom: none;
}
.item-news-common:first-of-type {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}



.item-news {
    width: 100%;
    float: left;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.hidden {
    display: none !important;
}
.box-covid-2021 .inner-box-cv {
    align-items: center;
    background: #F7F7F7;
    border: 1px solid #E5E5E5;
    padding: 15px;
}
.box-covid-2021 .header-cv {
    flex-wrap: wrap;
    width: 50%;
    padding-right: 15px;
}
.box-covid-2021 .txt-head {
    width: 100%;
    margin-bottom: 0;
    position: relative;
    margin-top: -8px;
}
.box-covid-2021 .txt-head strong {
    font: bold 18px/23px "Merriweather", serif;
}
.box-covid-2021 .txt-head strong,
.box-covid-2021 .number-count,
.box-covid-300 .txt-head strong,
.box-covid-300 .number-count {
    font-feature-settings: 'pnum'on, 'lnum'on;
    -webkit-font-feature-settings: 'pnum'on, 'lnum'on;
    -moz-font-feature-settings: 'pnum'on, 'lnum'on;
    -ms-font-feature-settings: 'pnum'on, 'lnum'on;
}
.box-covid-2021 .txt-head span {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    display: block;
}
.box-covid-2021 .box-count-head {
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px solid #e5e5e5;
    position: relative;
}
.width_common {
    width: 100%;
    float: left;
}
.box-covid-2021 .box-count-head .link-to-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box-covid-2021 .item-count-head {
    width: 50%;
    padding-right: 15px;
    align-items: center;
}
.box-covid-2021 .txt-ch {
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    flex-shrink: 0;
    margin-bottom: 5px;
}
.box-covid-2021 .number-count {
    font: bold 32px/120% "Merriweather", serif;
    padding-left: 10px;
    flex-shrink: 1;
}
.box-covid-2021 .item-count-head:last-of-type {
    padding-right: 0;
}
.box-covid-2021 .item-count-head {
    width: 50%;
    padding-right: 15px;
    align-items: center;
}
.flexbox, .box-covid-2021 .item-count-head, .box-covid-300 .item-count-head {
   
    display: flex;
}
.box-covid-2021 .txt-ch {
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    flex-shrink: 0;
    margin-bottom: 5px;
}
.box-covid-2021 .item-count-head .chart-by-date {
    padding-left: 10px;
}
.flex {
    display: flex;
}
ul,
li {
    list-style-type: none;
}
.chart-by-date svg {
    fill: rgb(243, 88, 91, 0.2);
}