<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin giao thông</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="ccsconten.css" />
</head>

<body>
    <header class="top-header">
        <div class="container">
            <a href="home.html" data-medium="Logo" class="logo" title="VnExpress - Báo tiếng Việt nhiều người xem nhất">
                <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v385/v2_2019/pc/graphics/logo.svg"
                    alt="VnExpress - Bao tieng Viet nhieu nguoi xem nhat">
            </a>
            <span class="time-now"> 5/04/2021</span>
            <div class="right">
                <a href="#" class="btn24hnew" title="Mới nhất">
                    <img src="iconhome.png" width="14px" height="14px" alt="Mới nhất">
                    Mới nhất
                </a>
                <a href="#" class="evne" title="VnEpress International">
                    <img src="iconhome.png" width="14px" height="14px" alt="International">
                    International
                </a>

                <form class="search-vne" action="https://timkiem.vnexpress.net">
                    <input id="keywordHeader" type="text" name="q" placeholder="Tìm kiếm" autocomplete="off">
                    <button type="submit" title="Tìm kiếm" class="btn-search-vne" id="buttonSearchHeader">
                        <img src="iconhome.png" width="14px" height="14px">
                    </button>
                </form>

                <a href="javascript:void(0);" class="log_txt" title="Đăng nhập"> <img src="iconhome.png" width="20px"
                        height="20px"> Đăng nhập</a>

            </div>
        </div>
    </header>
    <section class="section_nav">
        <nav class="main_nav" id="menutop">
            <ul class="parent">
                <li class="home">
                    <a href="/" class="flexbox" data-medium="Menu-home" title="Trang chủ"> <img src="iconhome.png"
                            width="50px" height="50px" alt="trang chủ"></a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                    <ul class="sub">
                        <li>
                            <a title="Chính trị" href="https://vnexpress.net/thoi-su/chinh-tri">Chính trị</a>
                        </li>

                        <li>
                            <a title="Đại hội XIII" href="https://vnexpress.net/thoi-su/dai-hoi-13">Đại hội XIII</a>
                        </li>

                        <li>
                            <a title="Giao thông" href="https://vnexpress.net/thoi-su/giao-thong">Giao thông</a>
                        </li>

                        <li>
                            <a title="Mekong" href="https://vnexpress.net/thoi-su/mekong"
                                data-medium="Menu-Mekong">Mekong</a>
                        </li>

                        <li>
                            <a title="Dân sinh" href="https://vnexpress.net/thoi-su/dan-sinh" data-medium="Menu-DanSinh"
                                d>Dân sinh</a>
                        </li>
                    </ul>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>

                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="thoisu">
                    <a href="/thoi-su" data-medium="Menu-Thoisu">Thời sự</a>
                </li>
                <li class="all-menu">
                    <a href="#">Tất cả
                        <span class="hamburger">
                        </span>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- content -->

    </section>
    <!-- content -->
    <section class="section_topstory">
        <div class="container flexbox">
            <div class="col-left-top">
                <ul class="image_firt">
                    <li>
                        <picture>
                            <source
                                srcset="https://i1-suckhoe.vnecdn.net/2021/05/07/PHAM5615JPG-1620390053-2828-1620390065.jpg?w=680&amp;h=408&amp;q=100&amp;dpr=1&amp;fit=crop&amp;s=sOu_18woQLD3sp7oLtqltA 1x, https://i1-suckhoe.vnecdn.net/2021/05/07/PHAM5615JPG-1620390053-2828-1620390065.jpg?w=680&amp;h=408&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=uiiFu-s4PjeBVS243SPIjQ 2x">
                            <img itemprop="contentUrl" loading="lazy" intrinsicsize="680x408"
                                alt="Thêm 40 ca Covid-19 cộng đồng" class="lazy loading"
                                src="https://i1-suckhoe.vnecdn.net/2021/05/07/PHAM5615JPG-1620390053-2828-1620390065.jpg?w=120&amp;h=72&amp;q=100&amp;dpr=2&amp;fit=crop&amp;s=rVrf9_BCCJ85en7afyFE5Q"
                                data-ll-status="loading">
                        </picture>

                    <li>
                        <a class="a"
                            href="https://vnexpress.net/nguoi-dau-tien-tu-vong-sau-tiem-vaccine-covid-19-4274572.html"
                            title="Người đầu tiên tử vong sau tiêm vaccine Covid-19" data-medium="Item-1" data-thumb="1"
                            data-itm-source="#vn_source=Home&amp;vn_campaign=ThuongVien&amp;vn_medium=Item-1&amp;vn_term=Desktop&amp;vn_thumb=1"
                            data-itm-added="1">Người đầu tiên tử vong sau tiêm vaccine Covid-19</a>
                    </li>
                    <li>
                        <a class="a1"
                            href="https://vnexpress.net/mot-nhan-vien-y-te-tu-vong-sau-tiem-vaccine-covid-19-4274572.html"
                            title="Một nhân viên y tế tử vong sau tiêm vaccine Covid-19">Bộ Y tế tối 7/5 công bố một nữ
                            nhân viên y tế 35 tuổi công tác tại Bệnh viện Đa khoa khu vực Tân Châu, An Giang, đã tử vong
                            sau tiêm vaccine Covid-19.</a>
                    </li>
                    <li>
                        <a class="a2"
                            href="https://vnexpress.net/mot-nhan-vien-y-te-tu-vong-sau-tiem-vaccine-covid-19-4274572.html"
                            title="Một nhân viên y tế tử vong sau tiêm vaccine Covid-19" data-medium="Item-1"
                            data-thumb="1">Theo đó, Hội đồng chuyên môn Sở Y tế An Giang kết luận ...</a>
                    </li>
                    <li>
                        <p class="meta-news">
                            <span class="time-public"><span datetime="2021-05-07 20:32:43" timeago-id="271">2h
                                    trước</span>
                            </span><a class="cat" title="Sức khỏe" href="/suc-khoe">Sức
                                khỏe</a>
                            <a class="count_cmt"
                                href="https://vnexpress.net/mot-nhan-vien-y-te-tu-vong-sau-tiem-vaccine-covid-19-4274572.html#box_comment_vne"
                                style="white-space: nowrap; display: inline-block;">
                                <svg class="ic ic-comment">
                                    <use xlink:href="#Comment-Reg"></use>
                                </svg>
                                <span class="font_icon widget-comment-4274572-1">113</span>
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- contentbutom -->
        <div id="containercontentbutom">
            <div class="contentbutom">
                <ul class="ul_content">
               <li>
                   <a data-medium="Item-2" data-thumb="0"
                       href="https://video.vnexpress.net/tin-tuc/thoi-su/nhan-chung-ke-lai-vu-chay-8-nguoi-chet-4274606.html"
                       title="Nhân chứng kể lại vụ cháy 8 người chết">
                           <use xlink:href="#Article-Video"></use>
                       </svg>Nhân chứng kể lại vụ cháy 8 người chết</a>
               </li>
                    <li class="li">
                       <a data-medium="Item-2" data-thumb="0"
                           href="https://video.vnexpress.net/tin-tuc/thoi-su/nhan-chung-ke-lai-vu-chay-8-nguoi-chet-4274606.html"
                           title="Nhân chứng kể lại vụ cháy 8 người chết"
                           data-itm-source="#vn_source=Home&amp;vn_campaign=ThuongVien&amp;vn_medium=Item-2&amp;vn_term=Desktop&amp;vn_thumb=0"
                           data-itm-added="1"><span class="location-stamp">TP HCM</span>Căn nhà hai tầng sản xuất xi
                           đánh bóng gạch nằm trong hẻm đường Lạc Long Quân, quận 11, bốc cháy ngùn ngụt rồi phát ra
                           nhiều tiếng nổ, khiến 8 người thiệt mạng.</a>
                    </li>
                </ul>
                <ul class="ul_content">
                   <li >
                       <a data-medium="Item-3" data-thumb="0"
                           href="https://vnexpress.net/bo-truong-y-te-xet-nghiem-dien-rong-la-viec-song-con-4274339.html"
                           title="Bộ trưởng Y tế: Xét nghiệm diện rộng là việc sống còn"
                           data-itm-source="#vn_source=Home&amp;vn_campaign=ThuongVien&amp;vn_medium=Item-3&amp;vn_term=Desktop&amp;vn_thumb=0"
                           data-itm-added="1">Bộ trưởng Y tế: Xét nghiệm diện rộng là việc sống còn</a>
                    </li>
                    <li class="li">
                        <a data-medium="Item-3" data-thumb="0"
                            href="https://vnexpress.net/bo-truong-y-te-xet-nghiem-dien-rong-la-viec-song-con-4274339.html"
                            title="Bộ trưởng Y tế: Xét nghiệm diện rộng là việc sống còn"
                            data-itm-source="#vn_source=Home&amp;vn_campaign=ThuongVien&amp;vn_medium=Item-3&amp;vn_term=Desktop&amp;vn_thumb=0"
                            data-itm-added="1">Bộ trưởng Y tế Nguyễn Thanh Long chiều 7/5 nói xét nghiệm sàng lọc diện
                            rộng là cách duy nhất để phát hiện dịch bệnh, "không còn lối đi nào khác".</a>
                    </li>
                </ul>
                <ul class="ul_content">
                    <li >
                       <a href="https://vnexpress.net/tien-hoa-trong-mua-dich-4273974.html" data-medium="Item-1"
                           data-thumb="1" title="‘Tiến hóa’ trong mùa dịch"
                           data-itm-source="#vn_source=Home&amp;vn_campaign=ThuongVien&amp;vn_medium=Item-1&amp;vn_term=Desktop&amp;vn_thumb=1"
                           data-itm-added="1">‘Tiến hóa’ trong mùa dịch</a>
                    </li>
                    <li class="li">
                        <a data-medium="Item-1" data-thumb="1"
                            href="https://vnexpress.net/tien-hoa-trong-mua-dich-4273974.html"
                            title="‘Tiến hóa’ trong mùa dịch"
                            data-itm-added="1">Thầy giáo khoe, trường anh mới áp dụng nhiều công nghệ. Tôi nhắc anh
                            tránh lẫn lộn việc dùng công nghệ với dạy những thứ học sinh cần.</a>

                    </li>
                </ul>
            </div>

        </div>
    </section>
<!-- content2    -->
<section class="section section_stream_home section_container">
    <div class="container_content2">
        

    <div class="div1_content2" style="background-color:coral;">Red DIV</div>
    <div class="div2_content2" style="background-color:lightblue;" id="myBlueDiv">Blue DIV</div>


    </div>

</section>




    <footer class="footer">
        <div class="inner-footer">
            <ul class="list-menu-footer">

                <li class="item-menu"><a href="https://vnexpress.net/" title="Trang chủ" data-medium="Menu-Home"
                        onclick="trackingLogoHome('logo-footer-menu', this.href)"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-Home&amp;vn_term=Desktop"
                        data-itm-added="1">Trang chủ</a></li>
                <li class="item-menu"><a href="https://video.vnexpress.net" data-medium="Menu-Video" title="Video"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-Video&amp;vn_term=Desktop"
                        data-itm-added="1">Video</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/infographics" data-medium="Menu-Infographics"
                        title="Infographics"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-Infographics&amp;vn_term=Desktop"
                        data-itm-added="1">Infographics</a></li>
                <li class="item-menu border-top" style="padding-top: 15px;border-top: 1px solid #e5e5e5;"><a
                        href="https://vnexpress.net/tin-tuc-24h" data-medium="Menu-MoiNhat" title="Mới nhất"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-MoiNhat&amp;vn_term=Desktop"
                        data-itm-added="1">Mới nhất</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/tin-xem-nhieu" data-medium="Menu-XemNhieu"
                        title="Xem nhiều"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-XemNhieu&amp;vn_term=Desktop"
                        data-itm-added="1">Xem nhiều</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/anh" data-medium="Menu-Anh" title="Ảnh"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-Anh&amp;vn_term=Desktop"
                        data-itm-added="1">Ảnh</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/tin-nong" data-medium="Menu-TinNong"
                        title="Tin nóng"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-TinNong&amp;vn_term=Desktop"
                        data-itm-added="1">Tin nóng</a></li>
            </ul>
            <ul class="list-menu-footer">
                <li class="item-menu"><a href="https://vnexpress.net/thoi-su" data-medium="Menu-ThoiSu" title="Thời sự"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-ThoiSu&amp;vn_term=Desktop"
                        data-itm-added="1">Thời sự</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/goc-nhin" data-medium="Menu-GocNhin"
                        title="Góc nhìn"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-GocNhin&amp;vn_term=Desktop"
                        data-itm-added="1">Góc nhìn</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/the-gioi" data-medium="Menu-TheGioi"
                        title="Thế giới"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-TheGioi&amp;vn_term=Desktop"
                        data-itm-added="1">Thế giới</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/kinh-doanh" data-medium="Menu-KinhDoanh"
                        title="Kinh doanh"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-KinhDoanh&amp;vn_term=Desktop"
                        data-itm-added="1">Kinh doanh</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/giai-tri" data-medium="Menu-GiaiTri"
                        title="Giải trí"
                        data-itm-source="#vn_source=Folder&amp;vn_campaign=Footer&amp;vn_medium=Menu-GiaiTri&amp;vn_term=Desktop"
                        data-itm-added="1">Giải trí</a></li>
            </ul>
            <ul class="list-menu-footer">
                <li class="item-menu"><a href="https://vnexpress.net/the-thao" data-medium="Menu-TheThao"
                        title="Thể thao">Thể thao</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/phap-luat" data-medium="Menu-PhapLuat"
                        title="Pháp luật">Pháp luật</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/giao-duc" data-medium="Menu-GiaoDuc"
                        title="Giáo dục">Giáo dục</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/suc-khoe" data-medium="Menu-SucKhoe"
                        title="Sức khỏe">Sức khỏe</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/doi-song" data-medium="Menu-DoiSong"
                        title="Đời sống">Đời sống</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/du-lich" data-medium="Menu-DuLich"
                        title="Du lịch">Du lịch</a></li>
            </ul>
            <ul class="list-menu-footer">
                <li class="item-menu"><a href="https://vnexpress.net/khoa-hoc" data-medium="Menu-KhoaHoc"
                        title="Khoa học">Khoa học</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/so-hoa" data-medium="Menu-SoHoa" title="Số hóa">Số
                        hóa</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/oto-xe-may" data-medium="Menu-Xe" title="Xe">Xe</a>
                </li>
                <li class="item-menu"><a href="https://vnexpress.net/y-kien" data-medium="Menu-YKien" title="Ý kiến">Ý
                        kiến</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/tam-su" data-medium="Menu-TamSu" title="Tâm sự">Tâm
                        sự</a></li>
                <li class="item-menu"><a href="https://vnexpress.net/hai" data-medium="Menu-Hai" title="Hài">Hài</a>
                </li>
            </ul>
            <ul class="list-menu-footer">
                <li class="item-menu"><a target="_blank"
                        href="https://raovat.vnexpress.net/?utm_campaign=VNEXPRESS&amp;utm_source=footer&amp;utm_medium=menu"
                        title="Rao vặt">Rao vặt</a></li>

                <li class="item-menu"><a target="_blank"
                        href="https://shop.vnexpress.net/?utm_campaign=VNEXPRESS&amp;utm_source=footer&amp;utm_medium=menu"
                        title="Shop VnExpress">Shop VnExpress</a></li>

                <li class="item-menu"><a target="_blank" href="https://startup.vnexpress.net/"
                        title="Startup">Startup</a></li>

                <li class="item-menu"><a target="_blank" href="https://pay.vnexpress.net/" title="Pay VnExpress">Pay
                        VnExpress</a></li>

                <li class="item-menu"><a target="_blank" href="https://kidlab.vnexpress.net/"
                        title="Kid-lab">Kid-lab</a></li>

                <li class="item-menu"><a target="_blank" href="https://vlight.vnexpress.net/"
                        title="Mua ảnh VnExpress">Mua ảnh VnExpress</a></li>

                <li class="item-menu"><a target="_blank"
                        href="https://vhome.vnexpress.net/?utm_source=VnExpress_Desktop&amp;utm_medium=Footer_Menu&amp;utm_campaign=Menu_Home_AllFolder"
                        title="Vhome">Vhome</a></li>
            </ul>
            <div class="wrap-contact">
                <div class="contact downloadapp">
                    <p>Tải ứng dụng</p>
                    <a href="#" class="evne" title="VnExpress">
                        <img src="iconhome.png" width="14px" height="14px" alt="VnExpress">
                        VnExpress</a>
                    <a href="#" class="evne" title="International">
                        <img src="iconhome.png" width="14px" height="14px" alt="International">
                        International</a>

                </div>
                <div class="contact">
                    <p>Liên hệ</p>
                    <a data-medium="Menu-LienHeToaSoan" title="Liên hệ tòa soạn"
                        href="https://vnexpress.net/lien-he-toa-soan" class="mail">Tòa soạn</a>
                    <a title="Liên hệ quảng cáo"
                        href="https://eclick.vn/lien-he/?utm_source=VNE&amp;utm_medium=CPC_BOX&amp;utm_campaign=LienHeQuangCao"
                        class="ads">Quảng cáo</a>
                </div>
                <div class="hotline">
                    <p>Đường dây nóng</p>
                    <div class="left">
                        <strong>083.888.0123</strong>
                        <p>(Hà Nội)</p>
                    </div>
                    <div class="right">
                        <strong>082.233.3555</strong>
                        <p>(TP. Hồ Chí Minh)</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <h1>
    </h1>


</body>

</html>