body {
    font-family: Tahoma;
    font-size: 20px;
    width: inherit;
    margin: 0px auto;
}

.top-header {
    padding: 8.5px ;
    border-bottom: 1px solid #E5E5E5;
}

.container {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.time-now {
    font-size: 14px;
    line-height: 32px;
    color: aquamarine;
    margin-left: 20px;
    padding: 10px;
}
.right{
    height: 20px;
    float: right!important;
}

.btn24hnew, .evne {
    height: 20px;
    line-height: 30px;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid thistle;
    border-radius: 3px;
    font-size: 14px;
    color: rgb(39, 37, 37);
    display: inline-block;
    text-decoration: none;
}
.top-header .search-vne{
    height: 20px;
    line-height: 30px;
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
    display: inline-block;
}
.top-header .search-vne input {
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    border: 1px solid #E5E5E5;
    padding: 0 30px 0 14px;
    margin: 0;
    display: inline-block;
}
.top-header .search-vne button {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    display: inline-block;
    height: 32px;
}
.log_txt{
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
    color: #000;
    
}

.footer{
    clear: both;
     max-width: 1130px;
     padding: 0 15px;
    margin: 0 auto;
}

.footer  .inner-footer{
    border-top: 5px solid #E5E5E5;
    padding: 20px 0;
    font-size: 14px;
    margin-top: 15px;
    display: flex;
}
.footer ul{
    width: 170px;
    padding-right: 30px;
    font-size: 14px;
    position: relative;
    font-weight: bold;
}
.footer .inner-footer ul li{
    display: inline-block;
    width: 100%;
    list-style: none;
    margin-bottom: 15px;
    
}
.footer .inner-footer ul li a{
    text-decoration: none;
}

.footer .wrap-contact .contact.downloadapp{
    margin-bottom: 80px;
   
}
.footer .wrap-contact .contact.downloadapp.evne{
    float: left;
}

.footer .wrap-contact {
    width: 250px;
    position: relative;
    line-height: 120%;
}

.footer .wrap-contact .contact {
    line-height: 160%;
}


.footer .wrap-contact .hotline {
    padding-top: 8px;
    border-top: 1px solid #E0E0E0;
}

.section_nav{
    width: 100%;
    float: left;
}
.section_nav .main_nav {
    width: 100%;
    float: left;
    clear: both;
    font-size: 14px;
    border-bottom: 1px chartreuse;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.main_nav ul li{
    float: left;
    margin-left: 25px;
}
.main_nav{
    height: 40px;
    width: 100%;
}
.main_nav .parent, li a{
    position: relative;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    list-style: none;
}
.main_nav .parent {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}

.main_nav .all-menu span{
   display: inline;
   margin-top: 12px;
   float: right;
    
}
.main_nav .all-menu a {
    display: inline;
float: left;
}

.main_nav .all-menu .hamburger {
    width: 16px;
    height: 2px;
    position: relative;
    background: #E0E0E0;
    display: block;
    top: 2px;
    margin-left: 8px;
}

.main_nav .all-menu .hamburger::before {
    left: 0;
    top: 10px;
}
.main_nav .all-menu .hamburger:after {
    left: 0;
    top: 5px;
}
.main_nav .all-menu .hamburger::before,
.main_nav .all-menu .hamburger::after {
    content: '';
    width: 16px;
    height: 2px;
    background: #bdbdbd;
    position: absolute;
}